<legend>Shipping Address</legend>

{{#if cart.customerProfile.shippingAddresses}}
<label class="eight columns alpha omega">
  <span>Addresses on File</span>
  <select id="storedShippingAddress" name="storedShippingAddress[number]">
    <option value="0"></option>
    {{#each cart.customerProfile.shippingAddresses}}
    <option value="{{oid}}">{{address1}}, {{city}} {{state}}</option>
    {{/each}}
  </select>
</label>
{{/if}}

<label class="name four columns alpha">
  <span>*First Name</span>
  <input type="text" id="shipToFirstName" name="shipping[firstName]" required class="required"
         value="{{cart.shipToFirstName}}"/>
</label>

<label class="name four columns alpha">
  <span>*Last Name</span>
  <input type="text" id="shipToLastName" name="shipping[lastName]" required class="required"
         value="{{cart.shipToLastName}}"/>
</label>

<label class="company">
  <span>Company</span>
  <input type="text" id="shipToCompany" name="shipping[company]" value="{{cart.shipToCompany}}"/>
</label>

<label class="address four columns alpha">
  <span>*Address 1</span>
  <input type="text" id="shipToAddress1" name="shipping[address1]" required class="required"
         value="{{cart.shipToAddress1}}"/>
</label>

<label class="address four columns alpha">
  <span>Address 2</span>
  <input type="text" id="shipToAddress2" name="shipping[address2]" value="{{cart.shipToAddress2}}"/>
</label>

<label class="four columns alpha">
  <span>*City</span>
  <input type="text" id="shipToCity" name="shipping[city]" required class="required" value="{{cart.shipToCity}}"/>
</label>

<label class="four columns alpha">
  <span>*State/Province/Region</span>
  <input type="text" id="shipToState" name="shipping[state]" required class="required" value="{{cart.shipToState}}"/>
</label>

<label class="four columns alpha">
  <span>*Zip/Postal Code</span>
  <input type="text" id="shipToPostalCode" name="shipping[postalCode]" required class="required"
         value="{{cart.shipToPostalCode}}"/>
</label>

<label class="four columns alpha">
  <span>*Country</span>
  <select name="shipping[country]" id="shipToCountry">
    <option value=''>&nbsp;</option>
    {{#each countries}}
    {{#ucSelectOption1 country selected}}{{country}}{{/ucSelectOption1}}
    {{/each}}
  </select>
</label>

<br class="clear">

<label class="four columns alpha">
  <span>*Email Address</span>
  <input type="email" id="email" name="shipping[email]" required class="required" value="{{cart.email}}"/>
</label>

<label class="four columns alpha">
  <span>*Phone</span>
  <input type="text" id="shipToPhone" name="shipping[phone]" required class="required"
         value="{{cart.shipToPhone}}"/>
</label>

<label>
  {{#ucCheckboxSelect2 shipToResidential true}}<input type="checkbox" id="shipToResidential"
                                                      name="shipping[isBusiness]" value='true'/>{{/ucCheckboxSelect2}}
  <span class="bold">This address is a business</span>
</label>

<label>
  {{#ucCheckboxSelect1 shippingIsBilling}}<input type="checkbox" id="shippingIsBilling" name="shipping[isBilling]"
                                                 value="true"/>{{/ucCheckboxSelect1}}
  <span class="bold">Same as Billing Address</span>
</label>