
<span class="fieldTitle">Summary</span>

<div class="summary">
  <span class="title">Subtotal:</span><span class="value">{{subtotal}}</span>
  <br class="clear">
  <span class="title">Tax:</span><span class="value">{{tax}}</span>
  <br class="clear">
  <span class="title">Shipping:</span><span class="value">{{shippingHandling}}</span>
  <br class="clear">

  {{#if buysafeBondAvailable}}
  <span class="title">BuySafe:</span><span class="value">{{cartBondCost}}</span>
  <br class="clear">

  {{#if buysafeBondFree}}

  <div class="buySafeInfo">
    <div class="buySafe_button">
      <div class="buySafe_logo"></div>
      <div class="buySafe_button_info">
        <strong>YOUR PURCHASE IS GUARANTEED WITH A BOND</strong>
      </div>
      <div class="buySafe_bonded"></div>
    </div>
    <div class="buySafe_message"></div>
    <br class="clear">
  </div>

  {{else}}

  <div class="buySafeInfo">
    <div class="buySafe_button_option">
      <div class="buySafe_logo_option"></div>
      <div class="buySafe_button_info_option">
        <strong>YOUR PURCHASE IS GUARANTEED WITH A BOND</strong>
      </div>
      <div class="buySafe_bonded_option {{#if buysafeBondWanted}} {{else}}buysafe_no{{/if}}"></div>
    </div>
    <div class="buySafe_message_option"></div>
    <br class="clear">
  </div>
  {{#if buysafeBondWanted}}
  <p class="buySafeSubtext">(Optional service click to remove)</p>
  {{else}}
  <p class="buySafeSubtext">Click to bond your purchase for only {{buysafeBondCost}}</p>
  {{/if}}

  {{/if}}

  <br class="clear">
  {{/if}}

  <span class="title">Total:</span><span class="value">{{total}}</span>
  <br class="clear">
</div>